<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>
    <header>
       
        <div class="contenedor-header">
            <div class="logo">
                <a href="#">Juan</a>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
                    <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
                    <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                    <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
                    <li><a href="http://127.0.0.1:5000/contacto" onclick="seleccionar()">CONTACTO</a></li>
                </ul>
            </nav>
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>

    <main>
        <section id="contacto" class="contacto">
            <div class="contenido-seccion">
                <h2>CONTACTO</h2>
                <div class="fila">
                    <!-- Formulario o mensaje de agradecimiento -->
                    <div class="col">
                        {% if nombre %}
                            <p>Gracias por comunicarte conmigo, {{ nombre }}. Te enviaré lo que necesites al {{ email }}.</p>
                        {% else %}
                            <form action="/contacto" method="post">
                                <input type="text" name="nombre" placeholder="Tú Nombre" required>
                                <input type="email" name="email" placeholder="Dirección de correo" required>
                                <textarea name="mensaje" cols="30" rows="10" placeholder="Mensaje" required></textarea>
                                <button type="submit">
                                    Enviar Mensaje <i class="fa-solid fa-paper-plane"></i>
                                    <span class="overlay"></span>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                    <!-- Mapa -->
                    <div class="col">
                        <img src="/static/images/ubicacion.png" alt="Ubicación">
                        <div class="info">
                            <ul>
                                <li>
                                    <i class="fa-solid fa-location-dot"></i>
                                    Valledupar KM 5, Via la Paz
                                </li>
                                <li>
                                    <i class="fa-solid fa-mobile-screen"></i>
                                    Llamanos: 018000 910270
                                </li>
                                <li>
                                    <i class="fa-solid fa-envelope"></i>
                                    Email: juanj_garcia@soy.sena.edu.co
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer>
        <a href="#inicio" class="arriba">
            <i class="fa-solid fa-angles-up"></i>
        </a>
        <div class="redes">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-skype"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#"><i class="fa-solid fa-rss"></i></a>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
